
<p>Pages: We do tech stuff!</p>
<p style="float: right;"><%= image_tag("pages_logo.png")%>
The Pages logo in png format.</p>
<p>Don't forget to buy all our stuff. We are corporate greedheads who want our bonuses to be larger than ever before!</p>
